# smt-portable-v3
Options -Indexes +FollowSymLinks -MultiViews
DirectoryIndex index.php
AddDefaultCharset utf-8
<Files ".htaccess">
    Require all denied
</Files>
<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteRule ^index\.html?$ ./ [R=302,L]
    RewriteRule (^|/)\.git(/|$) - [F,L]
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [L]
</IfModule>
